<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Global Settings</h2>
		</div>
		<h6>These settings control site-wide settings...</h6>
	</div>

	<div class="page-content-body">
		<div class="">
			<% @settings.each do |form| %>
				<h4>
					Settings
					<span class="float-right">
						<%= button_to "Edit", edit_site_setting_path(form), :method => "get", :class => 'btn btn-primary' %>
					</span>
				</h4>

				<div class="row">
					<div class="col">
						Show Story Delete Button? 
						<% if form.show_delete_button %>
							<%= icon('check-square fa-lg') %>
						<% else %>
							<i class="far fa-square fa-lg"></i>
						<% end %>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col">
						Show Site Announcement? 
						<% if form.show_site_announcement %>
							<%= icon('check-square fa-lg') %>
						<% else %>
							<i class="far fa-square fa-lg"></i>
						<% end %>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-3">Announcement Text:</div>
				</div>
				<div class="row">
					<div class="col-8 offset-3">
						<div class="site-announcement-box">
							<%= form.site_announcement.html_safe %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>