log/*.log
log/*.log.*
log/searchd.*
tmp/**/*
tmp/tags
db/*.db
db/*.sqlite3
news_stories/
.DS_Store
doc/
db/sphinx/**/*
solr/lib/*
solr/data/*
solr/pids/
.sass-cache/
sii_data/
public/system/
public/assets/
