<div id="sidebar">
  <ul>
    <li class="head">Today's Stories</li>
    <li><%= link_to "All", search_today_url %></li>
		<% if !@publications.nil? %>
			<% for paper in @publications %>
	    	<li><%= link_to paper.name, search_today_url(:paper => paper.id) %></li>
			<% end %>
		<% end %>
  </ul>
</div>
