html {
  margin:0;
  padding:0;
  border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
  display:block;
}

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
}

#page-container {
  min-width: 1200px;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}
table, th, td {
  vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

body {
  background-color: #33393c;
  font: normal 0.75em/145% Arial, Tahoma, sans-serif;
  color: #33393c;
  text-align: left;
}

p {
  margin: 0px 0px 10px 0px;
  line-height: 140%;
  color: #33393c;
}

a {
  outline: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.hide {
  display: none;
}

img {
  border: 0px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

#branding h1 {
  font: italic 2.1em Georgia, "Times New Roman", Times, serif;
  color: #fff;
  margin: 0px;
  padding: 20px 0px 20px 30px;
}

#branding h1 span {
  font: italic 0.7em Georgia, "Times New Roman", Times, serif;
  color: #6da9d2;
}

#search_announcement {
	font: 0.7em Arial, Tahoma, sans-serif;
	float: right;
	width: 60%;
	background-color: #eeeeee;
	color: #33393c;
	border-radius: 5px;
	padding: 5px 5px 5px 20px;
}

#site_announcement {
	font: 1.7em Arial, Tahoma, sans-serif;
	margin-top: 50px;
	min-height: 400px;
	color: #33393c;
	border-radius: 5px;
	padding: 5px 5px 5px 20px;
}

#login-box {
  position: relative;
  float: right;
  padding: 0px 0px 0px 0px;
}

#login-box span {
  color: #fff;
}

#login-box span a {
  font: bold 1.0em Arial, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
  /*text-transform: uppercase;*/
  /*display: block;*/
  padding: 0px 0px 0px 0px;
}

#page-navigation {
  background-color: #4a5154;
  padding: 12px 3.19% 12px 3.19%;
}

#page-navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#page-navigation ul li {
  float: left;
  margin: 0px 10px 0px 0px;
}

#page-navigation ul li a {
  font: bold 1.0em Arial, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 4px 10px 4px 10px;
}

#page-navigation ul li a:hover {
/*  color: #6da9d2;*/
	text-decoration:underline;
}

#page-navigation ul li {
  font: bold 1.0em Arial, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 4px 10px 4px 10px;
}

#page-navigation ul li:hover {
/*  color: #6da9d2;*/
	text-decoration:underline;
	cursor: pointer;
}

#search-page .search,
#story-page .search,
#today-page .today,
#search-images-page .search-images,
#image-gallery-page .image-gallery,
#users-page .users,
#locations-page .locations,
#plans-page .plans,
#publication-types-page .publication_types,
#pdf-images-page .pdf-images,
#settings-page .settings {
  background-color: #ff6600;
  color: #fff;
}

#page-navigation input.submit {
  background-color: #0099ff;
  width: 90px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
  .pagination a:hover, .pagination a:focus {
    color: #000033;
    border-color: #000033; }
.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
  .pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .pagination {
  height: 1%; }
*:first-child + html .pagination {
  overflow: hidden; }

#page-content {
  background-color: #e6e6d2;
  padding: 20px 10px 10px 10px;
	min-width: 320px;
}

#page-content h1 {
  font: bold italic 2.0em Georgia, "Times New Roman", Times, serif;
  color: #33393c;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 1px 0px;
  border-bottom: 1px solid #33393c;
}

#page-content h1 span {
  font: bold italic 0.1em Georgia, "Times New Roman", Times, serif;
  color: #33393c;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#story-content h1 {
  font-style: normal;
  color: #33393c;
#  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#page-content h2 {
  background-color: #33393c;
  font: bold 1.2em Arial, Tahoma, sans-serif;
  color: #fff;
  margin: 0px;
  padding: 12px 0px 12px 15px;
}

#page-content h2 span {
  color: #6da9d2;
}

#page-content h3 {
  font: bold 1.0em Arial, Tahoma, sans-serif;
  color: #33393c;
  margin: 0px;
  padding: 8px 0px 8px 15px;
  border-bottom: 1px solid #33393c;
}

#page-content h3 a {
  font: bold 1.0em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-decoration: none;
}

#page-content .inner-box {
  background-color: #fff;
  padding: 1.5957%;
	min-height: 300px;
}

#page-content .margin-top {
  margin-top: 10px;
}


#page-content label {
  font: bold 1.2em Arial, Tahoma, sans-serif;
  color: #33393c;
  margin: 0px 0px 5px 0px;
  display: block;
}

#page-content input, #page-content text_area, #page-content select {
  font: normal 1.5em Arial, Tahoma, sans-serif;
  color: #454545;
  margin: 0px 0px 15px 0px;
  padding: 5px;
  display: block;
  border: 1px solid #cccccc;
  width: 100%;
}

#page-content text_area {
  font: normal 1.2em Arial, Tahoma, sans-serif;
  height: 150px;
}

#page-content input.submit {
  background-color: #0099ff;
  /* display: block; */
	width: 60%;
  min-width: 75px;
  margin: 0px 10px 20px 0px;
  padding: 6px 0px 6px 0px;
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #fff;
  /* float: right; */
  text-transform: uppercase;
  border: 1px solid #fff;
}

#page-content #search_input_field input.submit {
	width: 20%;
  min-width: 75px;
	float: right;
}

#page-content .delete {
  background-color: transparent;
  border: none;
  font: bold 0.9em Arial, Tahoma, sans-serif;
  color: #999;
  text-decoration: none;
  padding: 0px 2px 0px 2px;
  text-transform: uppercase;
	cursor: pointer;
}

#page-content input.reset {
  background-color: #33393c;
}

#page-content input.submit:hover {
  background-color: #ff6600;
}

input#search_query {
  float: left;
}

#page-content .short {
  width: 35%;
}

#page-content .medium {
  width: 60%;
}

#stats-graphs-block {
  max-width: 550px;
  position: relative;
  width: 100%;
}

.image-left {
  float: left;
  margin: 10px 15px 0px 10px;
}

.image-right {
  float: right;
  margin: 10px 15px 0px 10px;
}

.caption {
  color: #626262;
  font: bold 0.5em Arial, Tahoma, sans-serif;
}

#stat-text-block {
  position: relative;
  float: left;
}

#page-content .success {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #249901;
  padding: 10px 15px 10px 15px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #84cd6e;
  background-color: #dff2d9;
}

#page-content .error {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #f03a31;
  padding: 10px 15px 10px 15px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #f03a31;
  background-color: #fad3c5;
}

#form-block {
  position: relative;
}

#form-block em {
  color: #5c6163;
  display: block;
  margin: -12px 0px 12px 0px;	
}

#table-block {
  position: relative;
}


#table-block table {
  width: 99%;
  position: relative;
}

#table-block table tr td {
  padding: 5px 6px 5px 6px; 
  border-bottom: 1px solid #cdcdcd;
}

#table-block table tr.header td {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #fff;
  padding: 7px 6px 7px 6px; 
  background-color: #4a5154;
}

#table-block table tr.alternate {
  background-color: #f5f5ed;
}

#table-block table td.true {
  color: #009933;
}

#table-block table td.false {
  color: #990000;
}

#table-block table td.actions {
  color: #ccc;
}

#table-block table td.headline {
  color: #ccc;
}

#table-block table tr:hover {
  background-color: #ffffd4;
}

#table-block table td.headline a {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-decoration: none;
  padding: 0px 2px 0px 2px;
}

#table-block table td.center {
	text-align: center;
}

#table-block table td.actions a {
  font: bold 0.9em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-decoration: none;
  padding: 0px 2px 0px 2px;
  text-transform: uppercase;
}

#table-block table td.actions a.delete {
  color: #999;
}

#table-block table td.actions a:hover {
  color: #ff6600;
}

/* filter images block */
#filter_images_block, #filter_stories_block { vertical-align: middle; }
#filter_images_block td, #filter_stories_block td { padding: 0px 10px; }
#filter_images_block td a { color: white; }
#filter_images_block td.float_right, #filter_stories_block td.float_right { text-align: right; }
#filter_images_block td.tiny, #filter_stories_block td.tiny { width: 2%; }
#filter_images_block td.extra_small, #filter_stories_block td.extra_small { width: 5%; }
#filter_images_block td.smaller, #filter_stories_block td.smaller { width: 8%; }
#filter_images_block td.small, #filter_stories_block td.small { width: 12%; }
#filter_images_block td.medium, #filter_stories_block td.medium { width: 16%; }
#filter_images_block td.large, #filter_stories_block td.large { width: 22%; }
#filter_images_block td.larger, #filter_stories_block td.larger { width: 27%; }
#filter_images_block td.big, #filter_stories_block td.big { width: 32%; }
#filter_images_block td.biggest, #filter_stories_block td.biggest { width: 42%; }
#filter_images_block td.full, #filter_stories_block td.full { width: 95%; }

#page-content #filter_images_block form input, #page-content #filter_stories_block form input {
	font: normal 1.0em Arial, Tahoma, sans-serif;
	margin: 0px 0px 0px 0px;
}

#page-content #filter_images_block form input.center, #page-content #filter_stories_block form input.center {
	text-align: center;
}

#page-content #filter_images_block form select, #page-content #filter_stories_block form select {
	font: normal 1.1em Arial, Tahoma, sans-serif;
	margin: 0px 0px 0px 10px;
}
#sidebar_edit_block {
	margin-top: 20px;
}

#sidebar,#lower-block {
  position: relative;
  float: right;
}

#sidebar ul, #lower-block ul{
  margin: 0px;
  padding: 0px 0px 10px 0px;
  list-style: none;
	/* border-left: 1px solid #cdcdcd; */
}

#sidebar ul li.head, #lower-block ul li.head{
  font: bold 1.4em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-transform: uppercase;
  padding: 15px 0px 15px 1.5957%;
	cursor: pointer;
}

#sidebar ul li {
  border-bottom: 1px solid #cdcdcd;
}

#sidebar ul li a, #lower-block ul li a {
  /* background-color: #f2f2e8; */
  display: block;
  font: normal 1.0em Arial, Tahoma, sans-serif;
  color: #33393c;
  text-decoration: none;
  padding: 8px 1.0638% 8px 1.5957%;
  height: 1%;
}

#sidebar ul li a {
  /* background-color: #f2f2e8; */
}

#sidebar ul li a:hover, #lower-block ul li a:hover {
  background-color: #e6e6d2;
}

#sidebar ul li.current a, #lower-block ul li.current a {
  background-color: #fff;
  font: bold 1.2em Arial, Tahoma, sans-serif;
  color: #33393c;
  text-decoration: none;
  padding: 8px 10px 8px 16px;
  margin-left: -1px;
}

#lower-block ul {
	padding: 0px;
}

#lower-block ul li {
  /* border:1px solid #BBBBBB; */
  float: left;
	margin: 5px;
}

#page-footer {
  text-align: center;
  padding: 15px;
}

#page-footer p {
  font: normal 0.9em/150% Arial, Tahoma, sans-serif;
  color: #fff;
}

#page-footer strong {
  color: #69a2c8;
}

#page-footer a {
  color: #fff;
}

/* Global formatting */
.full_height { height: 100%;}
.full_width { width: 100%;}
.float_left { float: left;}
.float_right { float: right;}
.indent { margin: 0px 0px 0px 10%;}
.center {text-align: center;}

/* Story Content */
#story-block {
  position: relative;
}

#story-content {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: #33393c;
}

#story-content h4 {
  padding-bottom: 10px;
  color: #33393c;
}

#story-content p.hl2_chapterhead {
  font-weight: bold;
  color: black;
}

#story-content p.hl2_head {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

#search_input_field {
  display: block;
  margin-bottom: 60px;
	width: 90%;
}

#advanced-search {
	padding: 10px;
	margin: 0px 0px 20px 0px;
}

#page-content #advanced-search input {
	font: normal 1.0em Arial, Tahoma, sans-serif;
}

#page-content #advanced-search label {
	font: normal 1.0em Arial, Tahoma, sans-serif;
}

#papername.today_publication {
	font: normal 1.5em Arial, Tahoma, sans-serif;
	vertical-align: middle;
	width: 20%;
	min-width: 200px;
	margin: 8px 10px;
}

#page-content input.today_submit {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 5px 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-family: normal 1.5em Arial, Tahoma, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	width: 40px;
	height: 30px;
	margin: 5px 10px;
}

#page-content input.today_submit:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

#story_block {
	min-height: 100px;
}

/* Story sidebars & lower blocks */
#info-block {
	clear:both
}

#story-sidebar, #story-lower {
  position: relative;
  padding: 10px 0px 10px 0px;
  margin-left: 0.75%;
  border: 1px solid #c1c1c1;
	min-width: 150px;
}

#story-sidebar p.story-infohead1 {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-transform: uppercase;
  padding: 10px 0px 0px 5px;
}

#story-sidebar p.story-infohead2 {
  font: bold 0.9em Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 10px 0px 0px 5px;
}

#story-lower p.story-infohead1 {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-transform: uppercase;
  padding: 10px 0px 0px 5px;
}

#story-lower p.story-infohead2 {
  font: bold 0.9em Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 10px 0px 0px 5px;
}

#story-info {
  padding-left: 6%;
  padding-right: 6%;
  font: normal 0.7em Arial, Tahoma, sans-serif;
}

#story-info div.story_frontend_logo {
	margin-left: 30%;
	margin-bottom: 10px;
}

#story-sidebar p.taxonomy_head { cursor: pointer; }
#story-sidebar #taxonomy { display: none; }

#lower-block {
	clear: both;
}

#image-sidebar {
  position: relative;
  padding: 10px 0px 10px 0px;
  margin-left: 7px;
	min-width: 150px;
/*  border: 1px solid #c1c1c1;*/
}

#image-sidebar p.image-head1 {
  font: bold 1.1em Arial, Tahoma, sans-serif;
  color: #0099ff;
  text-transform: uppercase;
  padding: 10px 0px 10px 5px;
}

#sidebar #image-body {
	margin: 0px 0px 0px 5%;
	position: relative;
}

img.image_thumb {height:20px;width:auto;}
img.image_small {height:auto;width:75px;}
img.image_medium {height:auto;width:150px;}
img.image_large {height:auto;width:450px;}

#pdf-gallery {padding: 20px 0px 20px 0px}
#pdf-gallery-item {padding: 0px 0px 20px 0px; height: 320px}
#mybook img{height:700px;width:auto%;}
#mybook img.centered {display: block; margin-left: auto;	margin-right: auto}

/* Image Content */
#image-content {
  font: normal 1.2em Arial, Tahoma, sans-serif;
  color: #33393c;
}

.image-header-bar {
  background-color: #4a5154;
  font: normal 1.5em Arial, Tahoma, sans-serif;
	color: white;
	padding: 10px 10px 10px 10px;
	margin-bottom: 15px;
}

.image-head {
	font-weight: bold;
	margin-top: 20px;
}

.image-attached-story, .image-attached-story a {
	font-weight: bold;
	margin: 20px 0px 20px 0px;
}

.image-field {
	font-weight: 600;
	font-style: normal;
	text-decoration:none;
	padding-right: 15px;
}

.image-info-box {
  border: 1px solid #fff;
	margin: 5px;
	padding: 5px;
}

.image-info {
  font: normal 0.7em Arial, Tahoma, sans-serif;
	width: 100%;
	text-align:center;
}

#page-content input.image-delete {
	cursor: pointer;
  font: normal 0.7em Arial, Tahoma, sans-serif;
	width: 90px;
  background-color: #E6E6D2;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
  border: 1px solid;
}

/* Story Editing */
#page-content form {height: 95%;}
#page-content form input, select {
	background: #fefefe;
	border: 1px solid #bbb;
	color: #333;
	padding: 7px;
	outline: none;
	vertical-align: middle;
}
#page-content form label.story_label {
	font: bold .7em Arial, Tahoma, sans-serif;
	color: #808080;
}
#page-content form input.story_field, select.story_field, textarea {
	font-size: 1em;
	margin: 0px 0px 10px 10px;
	padding: 4px;
}

#page-content form select.story_field {
	font-size: 1em;
	margin: 0px 0px 10px 10px;
	padding: 4px;
}

#page-content form input.tiny { width: 3%; }
#page-content form input.extra_small { width: 6%; }
#page-content form input.smaller { width: 8%; }
#page-content form input.small { width: 12%; }
#page-content form input.medium { width: 16%; }
#page-content form input.large { width: 22%; }
#page-content form input.larger { width: 27%; }
#page-content form input.big { width: 32%; }
#page-content form input.biggest { width: 42%; }
#page-content form input.full { width: 95%; }

#page-content form input.date_picker { width: 11%;}
div.ui-datepicker { z-index: 999 !important}

#page-content form textarea {padding:0.5%; overflow: scroll; }
#page-content form textarea.small { width: 95%; height: 150px; }
#page-content form textarea.medium { width: 95%; height: 250px; }
#page-content form textarea.large { width: 95%; height: 400px; }
#page-content form textarea.xlarge { width: 95%; height: 600px; }

#page-content form select.extra_small { width: 10%; min-width: 50px; height: 25px;}
#page-content form select.smaller { width: 20%; min-width: 75px; height: 25px;}
#page-content form select.small { width: 30%; min-width: 100px; height: 25px;}
#page-content form select.medium { width: 40%; min-width: 200px; height: 25px;}
#page-content form select.large { width: 50%; min-width: 200px; height: auto;}

/* Image Gallery Layout using Masonry */
img.image_gallery_size, div.image_gallery_size {
	height: auto;
	width: 300px;
}

.image_gallery_caption {
	background-color: #eeeeee;
	font: 1.0em Arial, Tahoma, sans-serif;
	color: #33393c;
	border-radius: 10px;
	opacity: 0.95;
	padding: 10px;
	z-index: 100;
	overflow: hidden;
	position: absolute;
	margin-top: -5px;
}

.fetching_images_text {
	width: 100%; 
	font: bold 1.5em Arial, Tahoma, sans-serif;
	color: #808080;
	text-align: center;
	padding-top: 50px;
}

img.spinner {
		display: block;
    margin-left: auto;
    margin-right: auto
}

#image_gallery_whitespace {height: 500px;}

#image-gallery-break {
  /* Cause break within gallery for pages */
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
}

/* Image gallery layout using CSS only */
#image-gallery2 {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   
}

#image-gallery2 img {
  /* Just in case there are inline attributes */
/*  width: 100% !important;
  height: auto !important;*/
}

@media (max-width: 1200px) {
  #image-gallery2 {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #image-gallery2 {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #image-gallery2 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #image-gallery2 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/* Site Settings Page */
#settings_block {
	min-height: 400px;
	font: normal 1.2em Arial, Tahoma, sans-serif;
}

#settings_block #settings_inner_block {
	padding: 10px;
	margin-top: 20px;
	border: 1px solid #b9bdc1;	
}

#settings_block .setting_header {
	font: normal 1.5em Arial, Tahoma, sans-serif;
}

#settings_block .setting_body {
	margin: 10px 10px 10px 10px;
	line-height: 1.5;
}

#settings_block .setting_field {
	width: 100%;
	margin-bottom: 20px;
}

#settings_block .setting_label {
	font: bold 1.0em Arial, Tahoma, sans-serif;
	display: block;
	float: left;
	margin-right:10px;
	text-align: right;
	width: 15%;
	line-height: 25px;
}

#settings_block .setting_value {
	font: normal 1.0em Arial, Tahoma, sans-serif;
	text-align: left;
	float: left;
	padding: 5px;
	border: 1px solid #b9bdc1;
	width: 50%;
	color: #000000;
	min-height: 16px;
	overflow:hidden;
}

#settings_block .setting_value_checkbox {
	border: none;
}