<div id="page-footer" class="">
	<div class="d-flex justify-content-center align-items-center">
	    <div class="align-items-center">
			<strong>Wescom Archive</strong> - &copy; Copyright 2006-<%= Date.today.year %> - 
			<a href="http://www.bendbulletin.com">Western Communications, Inc.</a>
		</div>
	</div>
</div>
