<div id="page-footer" class="">
	<div class="d-flex justify-content-center align-items-center">
	    <div class="align-items-center">
			<strong>Bulletin Archive</strong> - &copy; Copyright 2006-<%= Date.today.year %> - 
			<a href="http://www.bendbulletin.com">Central Oregon Media Group, LLC.</a>
		</div>
	</div>
</div>
