<div id="page-navigation" class="clearfix">	
  <ul>
    <!--<li><%= link_to "Home", {:controller => 'home', :action => 'index'} %></li>-->
    <!--<li><%= link_to "Today", {:controller => 'search', :action => 'today'} %></li>-->
    <li class="current"><%= link_to "Search", {:controller => 'search', :action => 'index'} %></li>
    <!--<li id="nav-search-box">
      <input type="text" name="searchField1" id="searchfield_1" class="shortsearch" /> 
      <input type="button" class="submit" value="Search" onclick="location.href='form_success.html';" />
    </li>-->
  </ul>
  <div id="login-box">
    <span>Hello <%= current_user.first_name -%></span>
  </div>
</div><!-- end page-navigation -->
