<%= content_for :title do %>
  <%= "#{params[:search_query]} - " if params[:search_query] -%>
<% end %>

<div id="notice-page">
  <%= render(:partial => "home/pagenav") %>
  <div id="page-content" class="clearfix">
		<% if @settings.show_site_announcement %>
			<h1>Notice</h1>
			<div class="inner-box clearfix">
				<div id="story-block" class="full_width">
					<div class="grid_4"><img src = "/images/Post-it.png" alt = "Post-it" /></div>
					<div id="site_announcement" class="grid_9"><%= @settings.site_announcement %></div>
				</div>
			</div>
		<% else%>
			<h1>Welcome</h1>
			<div class="inner-box clearfix">
				<div id="story-block" class="full_width">

				</div>
			</div>
		<% end %>
	</div>
</div>