<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Notice</h2>
		</div>
	</div>

	<div class="page-content-body">
		<% if @settings.show_site_announcement %>
			<div class="inner-box clearfix">
				<div id="story-block" class="full_width">
					<div class="grid_4"><img src = "/images/Post-it.png" alt = "Post-it" /></div>
					<div id="site_announcement" class="grid_9"><%= @settings.site_announcement.html_safe %></div>
				</div>
			</div>
		<% else%>
			<h1>Welcome</h1>
			<div class="inner-box clearfix">
				<div id="story-block" class="full_width">

				</div>
			</div>
		<% end %>
	</div>
</div>