<div id="sections-page">
	<%= render(:partial => "home/pagenav") %>
	<div id="page-content" class="clearfix">
		<h1>Sections</h1>

		<div class="inner-box clearfix">
		  <div id="form-block" class="grid_15">
			  <% if @sections %>
			    <div id="table-block" class="grid_15">
			      <% unless @sections.nil? %>
			        <table cellspacing="0" cellpadding="0">
			          <tbody>
			            <tr class="header">
			              <td>Category</td>
			              <td>ID</td>
			              <td>Name</td>
			              <td>Created</td>
			              <td>Updated</td>
			              <td class="center">Action</td>
			            </tr>
			            <%= render :partial => 'table_row', :collection => @sections %>
			          </tbody>
			        </table>
			      <% end %>
						<div id="table-paginate" class="full_width">
			      	<div class="float_right"><%= will_paginate @sections %></div>
						</div>
			    </div>
			  <% end %>
			</div>
		</div>
	</div>
</div>