<div class="image_gallery">
	<%= link_to image_tag(image.image(:large), :alt=>"Story Image", :class=>"image_gallery_size"), 
			{:action => 'show', :controller => 'story_images', :id => image } %>
	<div class="image_gallery_caption">
		<% if !image.media_printcaption.nil? %>
			<%= image.media_printcaption %>
		<% else %>
			<%= image.media_originalcaption %>
		<% end %>
	</div>
</div>