// Uses CSS to layout images in gallery. Images flow in column 1 then column2 ...
// http://css-tricks.com/seamless-responsive-photo-grid/
// Break div added to avoid reflowing additional images into full column
//$('#image-gallery').append('<div id="image-gallery-break"></div>');
//$('#image-gallery').append('<%= j render :partial => 'image', :collection => @images %>');

// Uses JQuery Masonry script to layout images in gallery. Images flow in row 1 then row 2 (filling holes)
// http://masonry.desandro.com/index.html
var $boxes = $('<%= j render :partial => 'image', :collection => @images %>');
$('#image-gallery').masonry('reload');
$('#image-gallery').append( $boxes ).masonry( 'appended', $boxes, true );
$('.image_gallery_caption').hide();
$(".image_gallery").mouseenter(function() {
	$(this).find('.image_gallery_caption').fadeIn('fast');
});
$(".image_gallery").mouseleave (function() {
	$(this).find('.image_gallery_caption').fadeOut('fast')
});

<% if @images.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@images) %>');
<% else %>
  $('.pagination').remove();
<% end %>